flows (2).json
[{"id":"446c51aa.361a7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5a325255.44d30c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#034e87","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0005a3","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#034e87","edited":true},"page-titlebar-backgroundColor":{"value":"#034e87","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0579d2","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#034e87","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee02d43.c48be28","type":"ui_group","z":"","name":"Smart Office Bot ","tab":"24074527.89791a","order":2,"disp":true,"width":"10","collapse":false},{"id":"24074527.89791a","type":"ui_tab","z":"","name":"Smart Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"35236650.178dda","type":"ui_group","z":"","name":"Bot Commands","tab":"24074527.89791a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b6787ad.a494e8","type":"ui_form","z":"446c51aa.361a7","name":"","label":"","group":"ee02d43.c48be28","order":1,"width":0,"height":0,"options":[{"label":"You:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":240,"wires":[["96381269.9e7f1"]]},{"id":"96381269.9e7f1","type":"function","z":"446c51aa.361a7","name":"Input Parsing","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":240,"wires":[["be5affe7.560a8","d7762a43.06fef8"]]},{"id":"ae1050bb.01094","type":"debug","z":"446c51aa.361a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"2d704cc.9b2c7b4","type":"ui_text","z":"446c51aa.361a7","group":"ee02d43.c48be28","order":3,"width":"10","height":"3","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":200,"wires":[]},{"id":"6c7aa9ab.bf40d8","type":"function","z":"446c51aa.361a7","name":"output parsing","func":" var a = msg.payload.output.text[0] + \"<br>\";\n var b = msg.payload.output.text[1] + \"<br>\";\n  msg.payload=a+b;\n  return msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["2d704cc.9b2c7b4"]]},{"id":"be5affe7.560a8","type":"watson-conversation-v1","z":"446c51aa.361a7","name":"","workspaceid":"4bdceee1-8208-4cd1-9ba3-865d716fc0fb","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/7451b039-6a4a-4bdd-b279-b9ca60e12422","timeout":"","optout-learning":false,"x":380,"y":240,"wires":[["6c7aa9ab.bf40d8","ae1050bb.01094","1b22feb5.9e4da1"]]},{"id":"5bf9182b.fc5a78","type":"cloudant out","z":"446c51aa.361a7","name":"","cloudant":"","database":"smartbot","service":"node-red-smart-2020--cloudant-1603006211411-85164","payonly":true,"operation":"insert","x":820,"y":60,"wires":[]},{"id":"cbf31832.16fae8","type":"function","z":"446c51aa.361a7","name":"Leave Save","func":"var str1 = \"L_\";\n  var str2 = Math.floor((Math.random() * 60000) + 1);\n  var str3 = \" Have a nice day!\";\n  var res = str1+str2;\n\n\nmsg.payload={ \n_id:res,\nEmail:msg.payload.context.email,\nLeaveDate:msg.payload.context.Ldate,\nReason: msg.payload.context.Lleave\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":20,"wires":[["5bf9182b.fc5a78"]]},{"id":"1b22feb5.9e4da1","type":"switch","z":"446c51aa.361a7","name":"","property":"payload.context.Ssave","propertyType":"msg","rules":[{"t":"eq","v":"leave","vt":"str"},{"t":"eq","v":"meet","vt":"str"},{"t":"eq","v":"report","vt":"str"},{"t":"eq","v":"task","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":80,"wires":[["cbf31832.16fae8"],["cd9b52c5.7158e"],["1f732dcf.64e202"],["d3fceb64.ba1978"]]},{"id":"cd9b52c5.7158e","type":"function","z":"446c51aa.361a7","name":"Meeting Save","func":"var str1 = \"M_\";\n  var str2 = Math.floor((Math.random() * 60000) + 1);\n  var str3 = \" Have a nice day!\";\n  var res = str1+str2;\nmsg.payload={ \n_id:res,\nMname:msg.payload.context.Mname,\nMdate:msg.payload.context.Mdate,\nMtime:msg.payload.context.Mtime\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":60,"wires":[["5bf9182b.fc5a78"]]},{"id":"1f732dcf.64e202","type":"function","z":"446c51aa.361a7","name":"work Report Save","func":"var str1 = \"R_\";\n  var str2 = Math.floor((Math.random() * 60000) + 1);\n  var str3 = \" Have a nice day!\";\n  var res = str1+str2;\n  \nmsg.payload={ \n_id:res,\nEmail:msg.payload.context.email,\ntaskid:msg.payload.context.Rtaskid,\nRstatus:msg.payload.context.Rstatus\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[["5bf9182b.fc5a78"]]},{"id":"d3fceb64.ba1978","type":"function","z":"446c51aa.361a7","name":"Work Assign Save","func":"var str1 = \"T_\";\n  var str2 = Math.floor((Math.random() * 60000) + 1);\n  var str3 = \" Have a nice day!\";\n  var res = str1+str2;\nmsg.payload={ \n_id:res,\ntname:msg.payload.context.Tname,\ntaskid:msg.payload.context.Ttaskid,\nduedate: msg.payload.context.Tdate\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":140,"wires":[["5bf9182b.fc5a78"]]},{"id":"d7762a43.06fef8","type":"ui_text","z":"446c51aa.361a7","group":"ee02d43.c48be28","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":320,"wires":[]},{"id":"8ef493da.c19dd","type":"ui_text","z":"446c51aa.361a7","group":"35236650.178dda","order":0,"width":"5","height":"4","name":"","label":"1.Leave </br> 2.Assign Work </br> 3.Work report </br>  4.Meeting Schedule </br>","format":"{{msg.payload}}","layout":"row-left","x":430,"y":420,"wires":[]}]